.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    background main
    padding rem(25px) 0
    margin-top 100px
    p
        text-decoration none
        mainFont(300)

        color sec
        text-align center
        margin 0
        
    a 
         border-bottom 2px dashed #F2ED46
         color #00FF71
         text-decoration none

    a:hover
        color #148CF3
        
.coffee-svg
    width 30px
    height 20px
    